/* -------------------------------- CSS reset ------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
	margin:0;
}
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
.remove {
    display: none !important;
}

/* ---------------------------------- Main ---------------------------------- */

body {
    min-height: 100vh;
    overflow: hidden;
    background: rgb(44, 44, 44);
}
main {
    width: 100vw;
    height: 100vh;
}
.main-container {
    width: 100vw;
    height: 100vh;
    margin-top: -7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    gap: 25px;
}
.buttons-main {
    background: #456c86;
    border: 6px ridge #5c5c5c;
    border-radius: 200px;
    width: 83px;
    height: 83px;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
}
.buttons-main i {
    color: rgb(25, 25, 25);
}
.buttons-main:hover {
    background: #2f4e64;
}
#stopwatch-button {
    grid-area: 1 / 2 / 2 / 3;
    background: #652b2f;
    font-size: 2.7rem;
    border: 6px groove #5c5c5c;
}
#stopwatch-button:hover {
    background: #481c20;
}
#rules-container {
    grid-area: 1 / 1 / 2 / 2;
}
#key-button {
    grid-area: 2 / 2 / 3 / 3;
}
#key {
    font-size: 1.5rem;
}
#link-cards {
    grid-area: 1 / 3 / 2 / 4;
}
.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#timer {
    border-radius: 10px;
    background: rgb(157, 157, 157);
    border: 6px groove #5b5b5b;
    padding: 29px 55px;
    font-size: 1.8rem;
}
#level-steps-icone {
    text-transform: uppercase;
    font-size: 1.15rem;
    margin-bottom: 10px;
    color: rgb(149, 149, 149);
}

/* -------------------------------- Triangle -------------------------------- */

.triangle {
    position: fixed;
    border-style: solid;
}
#triangle1 {
    top: 0;
    left: 0;
    border-width: 100px 100px 0 0;
    border-color: #4e4e4e transparent transparent transparent;
}
#triangle2 {
    top: 0;
    right: 0;
    border-width: 0 100px 100px 0;
    border-color: transparent #4e4e4e transparent transparent;
}
#triangle3 {
    bottom: 0;
    left: 0;
    border-width: 100px 0 0 100px;
    border-color: transparent transparent transparent #4e4e4e;
}
#triangle4 {
    bottom: 0;
    right: 0;
    border-width: 0 0 100px 100px;
    border-color: transparent transparent #4e4e4e transparent;
}

/* ---------------------------------- Code ---------------------------------- */

.code {
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.code-container form {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#input-code {
    height: 60px;
    width: 210px;
    border-radius: 10px;
    background: rgb(27, 0, 0);
    border: 1px solid rgb(95, 95, 95);
    color: rgb(243, 243, 243);
    font-size: 2.85rem;
    letter-spacing: 9px;
    text-align: center;
}
#input-code-button {
    margin-top: 18px;
    height: 50px;
    width: 210px;
    border-radius: 10px;
    border: none;
    background: #9e121c;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s;
}
#input-code-button:hover {
    background: #750d14;
}
#exit-code {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 73px;
    height: 73px;
    font-size: 2.4rem;
}

/* ------------------------------- Popup step ------------------------------- */

.anim-popup-step {
    animation: popup-step-anim 8s;
}
.popup-step-container {
    position: fixed;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
}
.popup-step {
    text-align: center;
    background: #9D9D9D;
    padding: 32px 53px;
    border-radius: 9px 9px 0 0;
    border: 6px ridge #5c5c5c;
}
#title-popup-step {
    font-size: 1.42rem;
}
#p-popup-step {
    margin-top: 7px;
    font-size: 1.15rem;
    color: rgb(37, 37, 37);
}
@keyframes popup-step-anim {
    0% {
        bottom: -125px;
    }
    16% {
        bottom: -5px;
    }
    84% {
        bottom: -5px;
    }
    100% {
        bottom: -125px;
    }
}
#level-steps {
    font-weight: bold;
    text-decoration: underline;
}

/* ------------------------------ Media queries ----------------------------- */

@media screen and (max-width: 997px) {
    .popup-step-container {
        bottom: -155px;
    }
    @keyframes popup-step-anim {
        0% {
            bottom: -155px;
        }
        16% {
            bottom: -10px;
        }
        84% {
            bottom: -10px;
        }
        100% {
            bottom: -155px;
        }
    }
    #title-popup-step {
        font-size: 1.2rem;
    }
    #p-popup-step {
        margin-top: 7px;
        font-size: 1rem;
        color: rgb(37, 37, 37);
    }
}
@media screen and (max-width: 591px) {
    .popup-step-container {
        width: 100vw;
    }
    .popup-step {
        width: 100%;
        border-right: none;
        border-radius: 0;
        border-left: none;
        padding: 20px 0;
    }
    #timer {
        border-radius: 10px;
        background: rgb(157, 157, 157);
        border: 5px groove #5b5b5b;
        padding: 22px 45px;
        font-size: 1.8rem;
    }
    .buttons-main {
        width: 63px;
        height: 63px;
        font-size: 1.6rem;
        border: 5px ridge #5c5c5c;
    }
    #stopwatch-button {
        font-size: 2.2rem;
    }
    .button-container {
        gap: 18px;
    }
    #exit-code {
        top: 16px;
        left: 16px;
        width: 60px;
        height: 60px;
        font-size: 1.9rem;
    }
    #triangle1 {
        border-width: 60px 60px 0 0;
    }
    #triangle2 {
        border-width: 0 60px 60px 0;
    }
    #triangle3 {
        border-width: 60px 0 0 60px;
    }
    #triangle4 {
        border-width: 0 0 60px 60px;
    }
}
@media screen and (max-width: 275px) {
    .buttons-main {
        width: 53px;
        height: 53px;
        font-size: 1.2rem;
    }
    .button-container {
        gap: 10px;
    }
    #stopwatch-button {
        font-size: 1.8rem;
    }
}